

body {
  background-color: aqua;
    font-family: Arial, sans-serif;
    text-align: center;
  
  }
  


.pizza-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pizza-item {
  margin: 20px;
  text-align: center;
  width: fit-content;
}